<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Patient Registration</title>
    <link rel="icon" type="image/x-icon" href="{% static 'icon.png' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body> 
    {% if message != None %}
      <div class="alert alert-primary" role="alert" style="text-align: center; margin-top: 5%; width: 50%; margin-left:18% ;"> 
        {{message}}
  </div>
  {% endif %}
  <a href="{% url 'allPatients' %}" type="button" class="btn btn-primary" style=" margin-left:75%; margin-top: 2%;" title="Back to Homepage">Back to dashboard</a>

    <div style="margin: 18%; margin-top:5%; ">
      {% load crispy_forms_tags %}
      <legend
      style="
        font-size: 26px;
        font-weight: bold;
        align-content: center;
        margin-bottom: 2.5%;
        color: rgb(3, 130, 235);
        text-decoration: underline;
      "
    >
      Register a new Patient!
    </legend>
    
    
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      The password of the patient is by default the
      phone number, which the patient will be prompted to change on the first login.<br><br>
      <button type="submit" class="btn btn-outline-success">Register</button>
    </form></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
